<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="/Users/bbadmin/Documents/BTL/BE_JunitTest_DBCLPM/src/test/java/com/example/junit_test/modules/orders"><classes><class name="com.example.junit_test.modules.orders.controllers.OrderControllerTest"><methods><include name="save"/><include name="testListOrders"/><include name="testGetOrderById"/><include name="testCreateOrder"/><include name="testUpdateOrder"/><include name="testDeleteOrdersById"/></methods></class><class name="com.example.junit_test.modules.orders.OrderRepositoryTest"><methods><include name="testSaveOrder"/><include name="testFindOrderEntitiesById"/></methods></class></classes></test></suite>